# URL del API Nest (sin slash final)
VITE_API_BASE_URL=http://localhost:3000

# Correos con acceso al versionamiento del organigrama (debe coincidir con ORG_CHART_VERSION_ADMIN_EMAILS del backend).
# VITE_ORG_CHART_VERSION_ADMIN_EMAILS=desarrollofabrica@cun.edu.co,iron_fuentes@cun.edu.co,raul_valencia@cun.edu.co,haider_bello@cun.edu.co,sara_murillofo@cun.edu.co

# OAuth 2.0 Client ID (Google Cloud Console → Credentials)
VITE_GOOGLE_CLIENT_ID=550902908078-fvabjtle954fqr6alhofdv7fvvr4bcbv.apps.googleusercontent.com
